@tailwind base;
@tailwind components;
@tailwind utilities;

/*****************************************************
 * Background colour is set based on user preferences with 
 * this configuration
 *****************************************************/
:root {
  --foreground-rgb: 0, 0, 0;
  --background-rgb: 211, 211, 211;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-rgb: 85, 85, 85;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb))
}

.experience-checkbox {
  margin-left: 12px;
  margin-right: 6px;
}

.experience-chart {
  margin: auto;
  width: 42%;
}

.image-name-block {
  position: relative;
  left: 50px;
}

.image-block {
  float: left;
}

.name-block {
  position: relative;
  top: 50px;
  left: 100px;
}

.profile-name {
  font-size: 42px;
}

.profile-pronouns {
  font-size: larger;
}

.titleblock-container {
  height: 470px;
  width: 42%;
  margin: auto;
}

.profile-socials {
  background: white;
  color: black;
  top: 196px;
  right: 250px;
  position: relative;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-left: 250px;
  margin-right: -250px;
}
