@tailwind base;
@tailwind components;
@tailwind utilities;

/*****************************************************
 * Background colour is set based on user preferences with 
 * this configuration
 *****************************************************/
/*
:root {
  --foreground-rgb: 0, 0, 0;
  --background-rgb: 211, 211, 211;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-rgb: 85, 85, 85;
  }
}
*/

:root {
  --foreground-rgb: 255, 255, 255;
  --background-rgb: 85, 85, 85;
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));
  font-family: system-ui;
}

.inner-p {
  margin-bottom: 20px;
}

#curseforge-logo {
  padding-top: 8px;
}

.profile-logo-img {
  float: left;
  padding-top: 4px;
}

.experience-checkbox {
  margin-left: 12px;
  margin-right: 6px;
}

.experience-chart {
  margin: auto;
  width: 42%;
  height: 680px;
  min-width: 1070px;
}

.image-name-block {
  position: relative;
  left: 50px;
}

.image-block {
  float: left;
  border-width: 5px;
  border-block-color: white;
}

.name-block {
  position: relative;
  top: 279px;
  left: 150px;
}

.profile-name {
  font-size: 50px;
}

.titleblock-container {
  height: 497px;
  width: 42%;
  margin: auto;
  min-width: 1070px;
}

.introblock-container {
  padding: 20px;
  width: 42%;
  margin: auto;
  min-width: 1070px;
  margin-bottom: 20px;
  background: white;
  color: black;
  font-size: large;
  font-style: italic;
  font-weight: 500;
}

.profile-socials {
  background: white;
  color: black;
  top: 280px;
  right: 250px;
  position: relative;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-left: 250px;
  margin-right: -250px;
  font-weight: 500;
}

.project-card-image-block {
  float: left;
  position: relative;
  top: 5px;
  left: 5px;
}

.project-showcase {
  width: 42%;
  margin: auto;
  background: darkgray;
  padding-top: 2px;
  padding-bottom: 2px;
  min-width: 1070px; 
}

.project-card {
  margin: 10px 10px 30px 10px;
  background: white;
  color: black;
  height: 650px;
}

.project-card-summary-block {
  position: relative;
  left: 15px;
  top: 15px;
  float: right;
  width: 50%;
}

.project-card-description-block {
  position: relative;
  right: 497px;
  top: 200px;
  margin-right: -492px;
  margin-left:497px;
  padding-left: 15px;
  padding-right: 15px;
  font-weight: 500;
}

.project-card-language-tag {
  background: violet;
  border-radius: 10px;
  padding-left: 4px;
  padding-right: 4px;
  margin-left: 2px;
  margin-right: 2px;
  position: relative;
  top: 15px;
}

.project-card-type-tag {
  background: aqua;
  border-radius: 10px;
  padding-left: 4px;
  padding-right: 4px;
  margin-left: 2px;
  margin-right: 2px;
  position: relative;
  top: 15px;
}

.project-card-title-text {
  font-size: larger;
}

.project-card-period {
  font-style: italic;
}

.project-showcase-tag-selector {
  color: black;
  margin: 10px;
}

.no-img-reference {
  font-size: 10px;
}

.project-card-tag-block {
  overflow-wrap: break-word;
  width: 90%;
}

footer {
  text-align: center;
  position: relative;
  top: 15px;
}
